<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title></title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://rawgit.com/susielu/d3-annotation/master/d3-annotation.min.js"></script>

    <style>
        .job-title {
            text-shadow: 1px 1px gray;
            font-size: 16px;
            font-family: sans-serif;
            text-decoration: underline;
        }
    </style>
</head>
<body>

<table width= "850px" height="500px">

    <tbody>
        <tr>
            <td width="250px">
                <div style="text-align: left; padding-left: 8px; padding-top: 10px; color: cornflowerblue; font-size: 16px; font-weight: bold;">CLICK BELOW TITLES</div>
            </td>
            <td width="600px">
                <div id = "chart_apper_div" style="text-align: left; padding-left: 80px; padding-top: 10px; color: cornflowerblue; font-size: 16px; font-weight: bold;">
                    CHART APPEARS BELOW ON CLICK
                </div>
            </td>
        </tr>
        <tr>
            <td width="250px">
                <div id="job_title" style="width:150px; height: 500px;"></div>
            </td>
            <td width="600px">
                <div id="data_plot" style="width:600px; height: 100%;">
                    <svg width="550", height="500"></svg>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align: left;padding-left: 250px;padding-top: 10px"><button onClick="window.location.reload();">Reset Plot</button></td>
        </tr>
    </tbody>
</table>


</svg>

<script type="text/javascript">

    const data_loader = d3.csv('ds_salaries.csv');
    var total_width, total_height;

    max_salary_recorded = 0;
    colors = ["#4B0082", "#8B0000", "#FF4500", "#008080", "#191970", "#00CED1", "#BDB76B"]

    data_loader.then(render_svg);

    function render_svg(data) {

        svg = d3.select('#job_title')
            .append('svg')
            .attr('height', '100%');

        job_titles = new Set()
        for (let index = 0; index < data.length; ++index) {
            // if(data[index].job_title.toLowerCase())
            job_titles.add(data[index].job_title);
        }

        job_titles = Array.from(job_titles).sort();
        // var total_width = parseInt(svg.style("width"), 10);
        // var total_height = parseInt(svg.style("height"), 10);

        // console.log(job_titles);

        svg.selectAll()
            .data(job_titles)
            .enter()
            .append('text')
            .attr("class", 'job-title')
            .attr("x", 10)
            .attr("y", function(d,i) { return (i+1) * 50; })
                // .attr("fill", "black")
                // .attr("dy", ".35em")
            .text(function(d,i) {return d; })
            .style('fill', function (d, i){return colors[i];})
            .on("click", function(d) {
                // console.log(d);
                // console.log(d.srcElement.style.fill);
``
                render_chart(data, d.srcElement.__data__, [d.srcElement.style.fill], job_titles);
            });

        render_chart(data, "all", colors, job_titles);
    }

    function render_chart(data, job_selected, colors, job_titles) {

        high_light_color=""
        high_light_data = ""

        //tooltip
        var tooltip = d3.select("body")
            .append("div")
            .style("position", "absolute")
            .style("z-index", "10")
            .style("visibility", "hidden")
            .text("fdsfdsf");

        filtered_data = [];
        max_salary_recorded =0;
        if(job_selected == 'all') {
            // add all
            for (let index = 0; index < data.length; ++index) {
                // if(data[index].job_title.toLowerCase())
                filtered_data.push(data[index]);
                max_salary_recorded = Math.max(max_salary_recorded, data[index].salary)
            }
        } else {
            //filter
            for (let index = 0; index < data.length; ++index) {
                // if(data[index].job_title.toLowerCase())
                if(data[index].job_title == job_selected) {
                    filtered_data.push(data[index]);
                    max_salary_recorded = Math.max(max_salary_recorded, data[index].salary)
                }
            }
        }

        var mrg = {t: 10, r: 30, b: 30, l: 60};

        var plot_width = 650 - mrg.l - mrg.r;
        var plot_height = 500 - mrg.t - mrg.b;

        // Clear previous charts
        document.getElementById("data_plot").innerHTML = "";

        document.getElementById("chart_apper_div").innerHTML= "HOVER ON DATA POINTS FOR MORE DETAILS";


        var svg = d3.select('#data_plot')
            .append("svg")
            .attr("width", plot_width + mrg.l  +  mrg.r)
            .attr("height", plot_height + mrg.t  + mrg.b)
            .append("g")
            .attr("transform",
                "translate("+  mrg.l + " , " + mrg.t  + " )  ");

        var x = d3.scaleBand()
            .domain([2020, 2021, 2022])
            .range([0, 500]);

        svg.append("g")
            .attr("transform", "translate( 0, " + plot_height + ")")
            .call(d3.axisBottom(x));

        // Add Y axis
        var y = d3.scaleLinear()
            .domain([78000, 412000])
            .range([ plot_height, 0]);
        svg.append("g")
            .call(d3.axisLeft(y));
        // console.log(filtered_data);


        //sort data
        filtered_data.sort(function(x, y){
            return d3.ascending(x.work_year, y.work_year);
        })

        filtered_data.sort(function(x, y){
            return d3.ascending(x.salary, y.salary);
        })

        //.work_year, data[index].salary]
        // scatter
        svg.append('g')
            .selectAll("dot")
            .data(filtered_data)
            .enter()
            .append("circle")
            .attr("cx", function (d) { return x(parseInt(d.work_year)) + 83 ; } )
            .attr("cy", 0)
            .attr("r", 5)
            .datum(function (d, i) { return d;})
            .style("fill", function (d, i) {
                if(colors.length == 1)
                    return colors[0];
                else {
                    idx= job_titles.indexOf(d.job_title);
                    // console.log(idx +"   "+colors[idx]+"   "+d.job_title);
                    high_light_color = colors[idx];
                    return colors[idx];
                }
            })
            // .text(function(d) { return parseInt(d.salary); })
            .on("mouseover", function(d){
                rec = d3.select(this).datum()
                // console.log(tooltip)
                tooltip.text(
                    "Title: " + rec.job_title +
                    ", Salary: $" + rec.salary +
                    ", Experience Level: " + rec.experience_level +
                    ", Location: " + rec.company_location +
                    ", Company Size: " + rec.company_size);
                // tooltip.style("color", color);
                return tooltip.style("visibility", "visible");
            })
            .on("mousemove", function(){return tooltip.style("top",
                (event.pageY-10)+"px").style("left",(event.pageX+10)+"px");})
            .on("mouseout", function(){return tooltip.style("visibility", "hidden");});


        var axisLabelX = -50;
        var axisLabelY = plot_height / 2;
        svg.append('g')
            .attr('transform', 'translate(' + -50 + ', ' + plot_height / 2 + ')')
            .append('text')
            .attr('text-anchor', 'middle')
            .attr('transform', 'rotate(-90)')
            .text('SALARY');

        svg.append('g')
            .attr('transform', 'translate(' + plot_height/2 + ', ' + (plot_height+30) + ')')
            .append('text')
            .attr('text-anchor', 'middle')
            .text('YEAR');

        svg.selectAll("circle")
            .data(filtered_data)
            .transition()
            .duration(2000)
            .attr("cy", function (d) {return y(parseInt(d.salary)) ; } )
            .delay(function(d, i){return(i * 10)});


        svg.selectAll("circle")
            .filter(function (d, i) {
                console.log(parseInt(d.salary) == parseInt(max_salary_recorded))
                return parseInt(d.salary) === parseInt(max_salary_recorded);
            })
            .each(function (d, i) {
                // console.log(d3.select(this).attr("cx")+"  "+d3.select(this).attr("cy"));
                cy =  y(parseInt(d.salary));
                cx = parseInt(d3.select(this).attr("cx"));
                high_light_data = d;
            })
        console.log(cx+"  "+cy);

        ann_color = job_selected == 'all' ? high_light_color : colors[0]
        const annotations = [
            {
                note: {
                    label: "ever recorded for this title",
                    title: "Max Salary: $" + high_light_data.salary
                },
                type: d3.annotationCalloutCircle,
                subject: {
                    radius: 10,         // circle radius
                    radiusPadding: 20   // white space around circle befor connector
                },
                color: [ann_color],
                x: cx,
                y: cy,
                dy: 10,
                dx: 20
            }
        ]

        const makeAnnotations = d3.annotation()
            .annotations(annotations);
        svg.append("g")
            .call(makeAnnotations)
            .on("mouseover", function(d){
                rec = high_light_data
                // console.log(tooltip)
                tooltip.text(
                    "Title: " + rec.job_title +
                    ", Salary: $" + rec.salary +
                    ", Experience Level: " + rec.experience_level +
                    ", Location: " + rec.company_location +
                    ", Company Size: " + rec.company_size);
                // tooltip.style("color", color);
                return tooltip.style("visibility", "visible");
            })
            .on("mousemove", function(){return tooltip.style("top",
                (event.pageY-10)+"px").style("left",(event.pageX+10)+"px");})
            .on("mouseout", function(){return tooltip.style("visibility", "hidden");});
    }

    function sleep1(delay) {
        var start = new Date().getTime();
        while (new Date().getTime() < start + delay);
    }

</script>
</body>
